<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">

    <property name="LOG_TEMP" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="WMS-Receiving"/>

    <include resource="logback-appenders.xml"/>
    <include resource="logback-loggers.xml"/>

    <appender name="ELK" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>elk:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="com.netflix.discovery" level="OFF"/>
    <logger name="com.github.dozermapper" level="ERROR" />
    <logger name="org.hibernate.SQL" level="OFF" />
    <logger name="org.hibernate.type" level="OFF" />
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.openwms" level="DEBUG"/>

    <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="MEASURED" level="INFO">
        <appender-ref ref="TSL"/>
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="CORE_INTEGRATION_MESSAGING" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ELK" />
    </root>

</configuration>